<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/Style.css">
</head>
<body>
<div class="container">
    {{{body}}}
    {{> footer}}
    </div>
    </body>
    </html>