<body>
<div class="about-section">
   <h1 style="color:rgb(255, 208, 0);font-size:40px;">About the Website</h1>  
    <p style="color:rgb(255, 208, 0);font-size:15px;">We allow people to post photos, view similar posts, and more!</p>
    <p style="color:rgb(255, 208, 0);font-size:15px;">To view your own photo or to gain access to others from all</p>
    <p style="color:rgb(255, 208, 0);font-size:15px;">all across the globe, sign up today with just the click of a</p>
    <p style="color:rgb(255, 208, 0);font-size:15px;">a button. No payment required!</p>
    <br>
  </div>
  
  <h2 style="color:rgb(255, 208, 0);font-size:25px;text-align:center">Our Team</h2>
  <br><br><br><br><br><br>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 style="color:rgb(255, 208, 0);font-size:25px;">Danny Collan</h2>
          <img src="https://upload.wikimedia.org/wikipedia/commons/3/34/PICA.jpg" alt="Danny" width="225" height="200">
          <p style="color:rgb(255, 208, 0);font-size:15px;" class="title">Social Catch Founder</p>
          <p style="color:rgb(255, 208, 0);font-size:15px;">Student at San Francisco State University</p>
          <p style="color:rgb(255, 208, 0);font-size:15px;">dcollan@mail.sfsu.edu</p><br>
        </div>
      </div>
    </div>
  <br><br>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 style="color:rgb(255, 208, 0);font-size:25px;">Allen Cooper</h2>
          <img src="https://upload.wikimedia.org/wikipedia/commons/3/34/PICA.jpg" alt="Allen" width="225" height="200">
          <p style="color:rgb(255, 208, 0);font-size:15px;" class="title">Social Catch Advisor</p>
          <p style="color:rgb(255, 208, 0);font-size:15px;">Web Developer at Google</p>
          <p style="color:rgb(255, 208, 0);font-size:15px;">allenc@gmail.com</p><br>
        </div>
      </div>
    </div>
  <br><br>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 style="color:rgb(255, 208, 0);font-size:25px;">Tim Clemens</h2>
          <img src="https://upload.wikimedia.org/wikipedia/commons/3/34/PICA.jpg" alt="Tim" width="225" height="200">
          <p style="color:rgb(255, 208, 0);font-size:15px;" class="title">Social Catch Technician</p>
          <p style="color:rgb(255, 208, 0);font-size:15px;">Database Administrator at Microsoft</p>
          <p style="color:rgb(255, 208, 0);font-size:15px;">timc@yahoo.com</p>

        </div>
      </div>
    </div>
  </div> 
  <center>
  <form>
 <input type="button" value="Go Back"; onclick="history.back()"><br>
</form>
</center>
  </body>
  </html>