<div class="col-sm-4" style="background-color:rgb(114, 156 , 210);">
            <h1>_______Social Catch - Autumn Beauty_______</h1>
            <center>
            <table class="table info-table-bordered">
                <thead class="thead-info">
                    <tr>
                        <th colspan="2">Image Information <br><br/></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Post title </th>
                        <td>--> Autumn Beauty</td>
                    </tr>
                    <tr>
                        <th>Post author </th>
                        <td>--> Jessica Nguyen</td>
                    </tr>
                    <tr>
                        <th>Post creation time</th>
                        <td>--> 11-23-2019</td>
                    </tr>
                    <tr>
                        <th>Post image </th>
                        <td>
                            <br><br />
                            <img src="https://images6.alphacoders.com/338/338596.jpg" alt="Autumn Beauty" width="300" height="200"><br><br />
                        </td>
                    </tr>
                </tbody>
            </table>
                </center>
        </div>