<div class="col-sm-4" style="background-color:rgb(114, 156 , 210);">
            <h1>_______Social Catch - Lovely City Lights_______</h1>
            <center>
            <table class="table info-table-bordered">
                <thead class="thead-info">
                    <tr>
                        <th colspan="2">Image Information <br><br/></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Post title </th>
                        <td>--> Lovely City Lights</td>
                    </tr>
                    <tr>
                        <th>Post author </th>
                        <td>--> Jason Miller</td>
                    </tr>
                    <tr>
                        <th>Post creation time</th>
                        <td>--> 04-18-2018</td>
                    </tr>
                    <tr>
                        <th>Post image </th>
                        <td>
                            <br><br />
                            <img src="https://images8.alphacoders.com/368/368165.jpg" alt="Lovely City Lights" width="300" height="200"><br><br />
                        </td>
                    </tr>
                </tbody>
            </table>
                </center>
        </div>