<div class="col-sm-4" style="background-color:rgb(114, 156 , 210);">
            <h1>_______Social Catch - A spectacular view!_______</h1>
            <center>
            <table class="table info-table-bordered">
                <thead class="thead-info">
                    <tr>
                        <th colspan="2">Image Information <br><br/></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Post title </th>
                        <td>--> A spectacular view!</td>
                    </tr>
                    <tr>
                        <th>Post author </th>
                        <td>--> Danny Collan</td>
                    </tr>
                    <tr>
                        <th>Post creation time</th>
                        <td>--> 06-23-2020</td>
                    </tr>
                    <tr>
                        <th>Post image </th>
                        <td>
                            <br><br />
                            <img src="https://images7.alphacoders.com/329/329647.jpg" alt="A spectacular view!" width="300" height="200"><br><br />
                        </td>
                    </tr>
                </tbody>
            </table>
                </center>
        </div>