    <h1 style="color:rgb(255, 208, 0);font-size:40px;">____Welcome to Social Catch!____</h1>      
   <div id="banner">
   </div>
   
<head>
<style>
h2 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
    <h2><a href="About">About the Website</a></h2>
    <h2><a href="samplepost">View Sample Image</a></h2>
    <h2><a href="registration">Create an Account</a></h2>
    <h2><a href="login">Log In</a></h2>