<form id = "login-form" class="form-grid-login" method="POST" action ="/users/login"
enctype="application/x-www-form-urlencoded">
            <div class="row">

                <div class="col-sm-4" style="background-color:rgb(114, 156 , 210);">

                    <div class="form-group">
                        <center><h1>__________Social Catch Login__________</h1></center>
                        <center>
                        <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username" required>

                        <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" required>
                        </center>
                    </div>
                    <center>
                    <h2> It's free for everybody, and always will be.</h2>
                    </center>
                    <center>
                    <input id="button" type="submit" value="Login">
                    <input type="button" value="Go Back"; onclick="history.back()">
                    </center>
                    <br>

                </div>
            </div>
        </form>