<div class="col-sm-4" style="background-color:rgb(114, 156 , 210);">
            <h1>_____Social Catch - San Francisco Night!_____</h1>
            <center>
            <table class="table info-table-bordered">
                <thead class="thead-info">
                    <tr>
                        <th colspan="2">Image Information <br><br/></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Post title </th>
                        <td>--> San Francisco Night</td>
                    </tr>
                    <tr>
                        <th>Post author </th>
                        <td>--> Danny Collan</td>
                    </tr>
                    <tr>
                        <th>Post creation time</th>
                        <td>--> 06-23-2020</td>
                    </tr>
                    <tr>
                        <th>Post Description</th>
                        <td>--> A wonderful night in the city!</td>
                    </tr>
                    
                    <tr>
                        <th>Post image </th>
                        <td>
                            <br><br />

                            <img src="https://images5.alphacoders.com/399/399847.jpg" alt="San Francisco" width="300" height="200"><br><br />
                        </td>
                    </tr>
                </tbody>
            </table>
                </center>
                <center>
                        <form>
 <input type="button" value="Return Home"; onclick="history.back()"><br><br>
</form>
</center>
        </div>